.wish{
    text-align: center;
    margin: 0;
    margin-top: 250px;
    font-size: 50px;
    font-weight: normal;
    font-family: 'Abril Fatface', cursive;
    color: #0C134F;
    background-color: #D4ADFC;

}
